[submodule "vim.symlink/bundle/syntastic"]
	path = vim.symlink/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim.symlink/bundle/vim-powerline"]
	path = vim.symlink/bundle/vim-powerline
	url = git@github.com:Lokaltog/vim-powerline
[submodule "zsh.symlink/oh-my-zsh"]
	path = zsh.symlink/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh
[submodule "vim.symlink/bundle/hexmode"]
	path = vim.symlink/bundle/hexmode
	url = git@github.com:fidian/hexmode
[submodule "vim.symlink/bundle/vim-surround"]
	path = vim.symlink/bundle/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule "vim.symlink/bundle/vim-repeat"]
	path = vim.symlink/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat
[submodule "vim.symlink/bundle/ctrlp.vim"]
	path = vim.symlink/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim
[submodule "vim.symlink/bundle/vim-commentary"]
	path = vim.symlink/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary
[submodule "vim.symlink/bundle/python-mode"]
	path = vim.symlink/bundle/python-mode
	url = git@github.com:klen/python-mode
[submodule "vim.symlink/bundle/vim-go"]
	path = vim.symlink/bundle/vim-go
	url = git@github.com:fatih/vim-go
[submodule "vim.symlink/bundle/vim-javascript"]
	path = vim.symlink/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim.symlink/bundle/vim-ruby"]
	path = vim.symlink/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby
[submodule "vim.symlink/bundle/vim-vagrant"]
	path = vim.symlink/bundle/vim-vagrant
	url = git@github.com:vim-scripts/vim-vagrant
[submodule "vim.symlink/bundle/vim-colorschemes"]
	path = vim.symlink/bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes
[submodule "vim.symlink/bundle/emmet-vim"]
	path = vim.symlink/bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "vim.symlink/bundle/vim-jade"]
	path = vim.symlink/bundle/vim-jade
	url = git@github.com:digitaltoad/vim-jade.git
[submodule "vim.symlink/bundle/vim-markdown"]
	path = vim.symlink/bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown
[submodule "vim.symlink/bundle/vim-pasta"]
	path = vim.symlink/bundle/vim-pasta
	url = git@github.com:sickill/vim-pasta
